<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
<!--     <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
 -->

 <nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand" routerLink="/">{{ title }}</a>&nbsp;&nbsp;&nbsp;
    <a class="navbar-brand" routerLink="/products" routerLinkActive="link-active">Products</a>&nbsp;&nbsp;&nbsp;
    <a class="navbar-brand" routerLink="/cart" routerLinkActive="link-active">
      <img src="../../assets/icons/cart.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Cart(<p style="display:inline-block">
            {{total}}
          </p>)</a>&nbsp;&nbsp;&nbsp;
    <a class="navbar-brand" routerLink="/admin" routerLinkActive="link-active">Admin</a>&nbsp;&nbsp;&nbsp;
    <button class="btn navbar-brand" (click)="onToggleAuthenticated()">Logged In: {{ adminService.authenticated }}</button>

  </nav>
  