<div class="container">
    <a [routerLink] = "['/products']">
        <div class="row" style="margin: 10%">
            <div class="col imgStyle">
                <img src="https://images.pexels.com/photos/2422/sky-earth-galaxy-universe.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500"><!-- https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"> -->
            </div>
            
            <div class="col textStyle" style="color: black"><h3>
                All Products in one place! <br><br>
                Shopping is at a click away. Exclusive products found here in <b> "Around the world"</b>
               <br><br> Immense yourself in the world of shopping.</h3>
            </div>
        
            
        </div>
    </a> 
    </div> 

